
*.json
*.txt
*.svg
*.ttf
*.eot
*.woff
*.mp3
*.ogg
*.html
export/html5/haxe/ApplicationMain.hx
*.png
*.hxml
*.exe
export/windows/haxe/ManifestResources.hx
export/windows/haxe/ApplicationMain.hx
*.hash
*.ilk
*.lib
*.pdb
*.exp
*.ndll
*.ico
export/html5/haxe/ManifestResources.hx
*.xml
*.h
*.obj
*.pch
export/windows/obj/obj/msvc1964-debug-nc/all_objs
*.cpp
